parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Models\\Univers\:\:favoriteUsers\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany does not specify its types\: TRelatedModel, TDeclaringModel, TPivotModel, TAccessor \(2\-4 required\)$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Univers.php

		-
			message: '#^Method App\\Models\\User\:\:favorites\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany does not specify its types\: TRelatedModel, TDeclaringModel, TPivotModel, TAccessor \(2\-4 required\)$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php
